body {
    margin: 0;
    padding: 0;
    background-color: #171717;
}

.item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height:150px;
    padding: 2em 1em;
    background: darkcyan;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.4em;
    color: white;
    box-shadow: 0px 2px 0px  #222 ;
    overflow: hidden;
    transition: box-shadow 0.15s ease;
    cursor: pointer;
    border: 2px double #323232;
}
span {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 25px;
    height: 25px;
    display: block;
    background: #fff;
    text-align: center;
    color: #171717;
    opacity: 0.15;
    border-radius: 50%;
    transition: transform 0.5s ease;
}
.item:hover {
    box-shadow: 0px 8px 8px  #222 ;
}
.item:hover span {
    font-size: 0;
    transform: scale(50);
}
h1 {
    margin-top: 0.2em;
    font-size: 1em;
    color:rgb(220, 20, 53);
    text-shadow: 2px 2px 1px #171717;
    text-transform: capitalize;
}
p {
    line-height: 1.5em;
    color: whitesmoke;
    text-shadow: 2px 2px 1px #333;
}